<div id="contact-container">
  <a class="contact-icon" href="https://github.com/JsusMachaca"><img src="/imgs/github.png" alt="github" width="40x40"></a>
  <a class="contact-icon" href="https://www.linkedin.com/in/jesus-g-machaca-136119275"><img src="/imgs/linkedin.png" alt="linkedin" width="40x40"></a>
  <a class="contact-icon" href="https://www.tiktok.com/@notjisas"><img src="/imgs/tiktok.png" alt="tiktok" width="40x40"></a>
</div>

<style>
  #contact-container {
      display: flex;
      justify-content: center;
      margin: 30px 0;
  }
  .contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #e7fefdf5;
    padding: 5px 20px;
    border-radius: 100%;
    margin: 0 40px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .contact-icon:hover {
    transform: scale(1.2);
  }
</style>