@font-face {
    font-family: 'VT323';
    src: url('/fonts/VT323-Regular.ttf');
}
@font-face {
    font-family: 'Press Start 2P';
    src: url('/fonts/PressStart2P-Regular.ttf');
}
@font-face {
    font-family: 'Kanit';
    src: url('/fonts/Kanit-Light.ttf');
}
@font-face {
    font-family: 'Anton';
    src: url('/fonts/Anton-Regular.ttf');
}
@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/fonts/UbuntuMonoNerdFont-Bold.ttf');
}
/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/icons.woff2') format('woff2');
  }
  
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }